In [ ]:
import pandas as pd
import numpy as np
import pandas_profiling as pdp
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('data/insurance_data.csv')

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Columns: 7 entries, Age to Charges
ID    Column      Non-null count  Dtype
---   ------      -------------   -----
0     age         1338 non-null   int64
1     sex         1338 non-null   object
2     bmi         1338 non-null   float64
3     children    1338 non-null   int64
4     smoker      1338 non-null   object
5     region      1338 non-null   object
6     charges     1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+KB

In [ ]:
describe()
        age          bmi          children     charges
count   1338.000000  1338.000000  1338.000000  1338.000000
mean    39.207025    30.663397    1.094918     13270.422265
std     14.049960    6.098187     1.205493     12110.011237
min     18.000000    15.960000    0.000000     1121.873900
25%     27.000000    26.296250    0.000000     4740.287150
50%     39.000000    30.400000    1.000000     9382.033000
max     64.000000    53.130000    5.000000     63770.428010

In [ ]:
value_counts()
male 676
female 662
Name: sex, dtype: int64
no 1064
yes 274
Name: smoker, dtype: int64
southeast 364
northwest 325
southwest 325
northeast 324
Name: region, dtype: int64